<h2>Example 7 - Shopping Cart</h2>

<div class="two-columns">
  <div class="div1">
    <ul>
      @for (product of products(); track product) {
      <li>
        <p style="width: 9.5rem; margin: 0; align-self: center">
          {{ product.name }} - ${{ product.price }}
        </p>

        <button
          mat-raised-button
          color="primary"
          (click)="addToCart(product)"
          style="margin-right: 1rem; margin-left: 1rem"
        >
          +1
        </button>

        @if (selectProductsIds().includes(product.id)) {
        <button
          mat-raised-button
          style="color: red"
          (click)="removeOneFromCart(product)"
        >
          -1
        </button>
        <button
          mat-raised-button
          style="margin-left: 1.5rem; color: red"
          (click)="removeAllFromCart(product)"
        >
          Remove All
        </button>
        }
      </li>
      }
    </ul>

    <p>
      Total Price: <b>{{ totalPrice() }}</b>
    </p>
  </div>

  <div class="div2">
    <h3>Products List</h3>
    <p>Add more than one unit of each product</p>
    <ul>
      @for (product of totalProductsList(); track product) {
      <li>
        Product name: {{ product.name }}
        <ul>
          <li>Id product: {{ product.id }}</li>
          <li>Unit price: ${{ product.price }}</li>
          <li>Total added: {{ product.quantity }}</li>
          <li>Total price: ${{ product.quantity * product.price }}</li>
        </ul>
      </li>
      }
    </ul>
  </div>
</div>
