ul {
  li {
    padding: 10px;
  }
}

.two-columns {
  display: flex;
  flex-direction: row;
  width: 90vw;
}

.div1 {
  width: 50vw;
}

.div1 li {
  display: flex;
  flex-direction: row;
}

.div2 {
  width: 40vw;
}
